@model IEnumerable<DatabaseLayer.AccountTypeTable>

@{
    ViewBag.Title = "Account Types";
}

<h4>Account Types</h4>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @Html.ActionLink("Add Account Type", "Create", "AccountTypeTables", new { @style = "float:left;", @class = "genric-btn primary" })
        <input type="text" id="searchtype" name="searchtype" class="form-control col-md-3" style="float:right;" placeholder="search here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thred>
                    <tr>
                        <th>
                            Account Type
                        </th>
                        <th>Action</th>
                    </tr>
                </thred>
                <tbody id="searchvalue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AccountTypeID }, new { @class = "genric-btn success" })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#searchtype").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

